body {
    background-color: rgb(213, 238, 255);
}
.header {
    background-color: rgb(143, 143, 143);
}
h1 {
    text-align: center;
    color: rgb(235, 235, 235);
}

.aside {
    background-color: rgb(233, 233, 233);
}

.current { 
    background-color: rgb(255, 255, 205);
}

.forcast {
    background-color: rgb(206, 255, 206);
}

#city {
    font-size: 30px;
}
.days {
    width: 20%;
}
